﻿@page
@using Application.ViewModels;
@model VuNgocThyRazorPages.Pages.FlowerPages.FlowerHomePageModel
@{
    
}
<a href="/AdminPages/CreateNewFlower">Create New Flower</a>
<table class="table">
    <thead>
        <tr>

            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Birthday</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.flowerBouquetDTOs)
        {

            <tr>
               @* <td>@item.CustomerId</td>
                <td>@item.Birthday.Value.ToShortDateString()</td>
                <td><button type="submit" class="btn btn-outline-success" value="@item.CustomerId">Delete</button></td>*@
            </tr>
        }
    </tbody>
</table>