﻿@page
@model VuNgocThyRazorPages.Pages.AdminPages.AdminHomePageModel
@{
    Layout = "_AdminLayout"; 
}
@*<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-url="@Url.Action("OnPost")">
    Add New Customer
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
            <div class="modal-body">
                
                    <label>Customer Name</label><input type="text" name="CustomerName" value="" />
                    <label>Email</label><input type="email" name="Email" value="" />
                    <label>City</label><input type="text" name="City" value="" />
                    <label>Country</label><input type="text" name="Country" value="" />
                    <label>Password</label><input type="text" name="Password" value="" />
                    <label>Birthday</label><input type="date" name="Birthday" value="" />
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>*@
<a href="/AdminPages/CreateNewCustomer">Create Custommer</a>
<table class="table">
    <thead>
        <tr>
            
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Birthday</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.listCustomerDTO)
        {

            <tr>
                <td>@item.CustomerId</td>
                <td>@item.Email</td>
                <td>@item.CustomerName</td>
                <td>@item.City</td>
                <td>@item.Country</td>
                <td>@item.Birthday.Value.ToShortDateString()</td>
                <td><button type="submit" class="btn btn-danger" value="@item.CustomerId">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

