﻿@page
@model VuNgocThyRazorPages.Pages.AdminPages.CreateFlowerPageModel
@{
}
<form method="post">

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="Email" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="csutomername">Customer Name</label>
        <input type="text" id="customername" name="CustomerName" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="csutomername">City</label>
        <input type="text" id="customername" name="City" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="csutomername">Country</label>
        <input type="text" id="customername" name="Country" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" id="birthday" name="Birthday" class="form-control" required />
    </div>
    <button type="submit">Save</button>
</form>
