﻿@page
@model VuNgocThyRazorPages.Pages.AdminPages.ManageFlowerPageModel

@{
    Layout = "_AdminLayout"; 
}
<a href="/AdminPages/CreateFlowerPage">Create New FLower</a>
<table class="table">
    <thead>
        <tr>

            <th>FlowerBouquet Id</th>
            <th>FlowerBouquet Name</th>
            <th>Category Id</th>
            <th>Description</th>
            <th>unit Price</th>
            <th>Unit In Stock</th>
            <th>Suppiler Id</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.flowerBouquetDTOs)
        {

            <tr>
                <td>@item.FlowerBouquetId</td>
                <td>@item.FlowerBouquetName</td>
                <td>@item.CategoryId</td>
                <td>@item.Description</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td>@item.SupplierId</td>
                <form method="post">
                    @*<input type="hidden" asp-route-id="@item.FlowerBouquetId"></input>*@
                <td><button class="btn btn-danger" asp-route-id="@item.FlowerBouquetId" action="ManageFLowerPage">Delete</button></td>
                <td><button class="btn-outline-success" value="Update" asp-route-id="@item.FlowerBouquetId" asp-page="/AdminPages/UpdateFlowerPage">Update</button></td>
                </form>
                
            </tr>
        }
    </tbody>
</table>

