﻿@page "/"
@model VuNgocThyRazorPages.Pages.LoginPageModel
<h1>Login</h1>




<form method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="Email" >
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

